<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Racer game!</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/main.css">


   <!-- VENDOR SCRIPTS -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <!-- APPLICATION SCRIPTS -->
   <script src="/scripts/game.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 jumbotron">
          <h1 class="text-center">CarShip Space Race</h1>
          <h2 class="text-center">It's outta of this world</h2>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <form id="raceGame">
            <select class="col-md-offset-4" id="gameCarChoice">
              <option>Green Car</option>
              <option>Red Car</option>
              <option>Blue Car</option>
            </select>
            <input id="score" type="number" name="score" min="1" max= "10" value="5" required>
            <hr>
            <h4 class="text-center">To find out your race score, click this button.</h4>
              <button type="submit" class="btn btn-default text-center col-md-offset-4">Complete a race!</button>
          </form>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="container-fluid">
        <div class="thumbnail col-md-12 track">
            <div class="col-md-1" id="carShip">
              <h1><img id="carShip" class="img-responsive" src="../images/Car_Red.png"></h1>
            </div>
        </div>
      </div>
    </div>
      <br>
    <div class="col-md-6 col-md-offset-3 container thumbnail text-center">
        <h2>Recent Scores</h2><hr>
        <ol id="scoreList"></ol>
    </div>

  </body>
</html>
