<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Racer game!</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href "/public/styles/main.css">

   <!-- VENDOR SCRIPTS -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <!-- APPLICATION SCRIPTS -->
   <script src="/public/scripts/game.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1><large>CarShip Racer Game!!!</large></h1>
        <h1><small>It's so fast!!!</small></h1>
      </div>
    </div>
    <div>
      
    </div>

  </body>
</html>
