<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>carShip admin page</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/admin.css">


   <!-- VENDOR SCRIPTS -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <!-- APPLICATION SCRIPTS -->
   <script src="/scripts/carship.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 jumbotron">
          <h1 class="text-center">Admin page</h1>
          <h2 class="text-center">create, edit, or delete carShips</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-2">
          <form id="newcarShipForm" class="form-horizontal">

                        <!-- Text input-->            
            <div class="form-group">
              <label class="col-md-4 control-label" for="name"></label>
              <div class="col-md-4">
                <input id="carName" name="name" type="text" placeholder="carShip Name" class="form-control input-md" required="">
              </div>
            </div>

                        <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="color"></label>
              <div class="col-md-4">
                <input id="carColor" name="color" type="text" placeholder="carShip Color" class="form-control input-md">
              </div>
            </div>

                        <!-- number input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="speedValue">Max Speed</label>
              <div class="col-md-4">
                <input id="speedValue" name="speedValue" type="number" placeholder="How fast?" class="form-control input-md">
              </div>
            </div>

                        <!-- Submit button -->
            <div class="form-group">
             <label class="col-md-4 control-label" for="singlebutton">Save carShip</label>
               <div class="col-md-4">
                 <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
               </div>
           </div>
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <div>
        <h3>carShips</h3>
        <ul id="carList">
        </ul>
      </div>
    </div>

  </body>
</html>
