body {
  /*background-image: #5c72ac;*/
  background-image: url(https://media.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif);
  background-size: cover;
}

/* possible BG http://gph.is/1PEf55I */
#carList {
  padding: 0px;
}

div.row.text-center {
  background-color: grey;
  border: solid;
  border-width: 2px;
  margin: 5px 0px 0px 0px;
}
