body {
  background-color: #8c92ac;
}

container {
  background-color: red;
}
#raceBox {
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid;
  border-color: white;
  background-color: grey;
}
