body {
  background-image: url(https://media.giphy.com/media/wjG3ZJFP71Z16/giphy.gif);
}

#carShip{
  margin-top: 165px;
}

.track{
  background-image: url(http://i.imgur.com/xChy58V.png);
  border: 2px solid white;
  height: 400px;
  background-size: 100% 100%;
}

h2 {
  color: black;
}

.jumbotron {
  margin-top: 10px;
}
